#myapic {
  width: 400px;
  height: auto;
}

body {
  background-image:url(https://user-images.githubusercontent.com/40872071/42349064-53c1859a-8060-11e8-835d-8881ca0321a1.jpg);
  background-color: purple;
}
